<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <li>商品名稱：<%= ItemDesc %><</li>
      <li>商品金額：<%= Amt %><</li>
      <li>信箱：<%= Email %><</li>
    </ul>
    <p>謝謝您！</p>
  </body>
</html>
